<%- include('header') %> <%- include('navbar') %>

<div class="card cardname" style="width: 18rem">
  <div class="card-body">
    <h5 class="card-title">Total Credit</h5>
    <p class="card-text"><%= totalcredit %></p>
  </div>
</div>
<div class="card cardname" style="width: 18rem">
  <div class="card-body">
    <h5 class="card-title">Total Debit</h5>
    <p class="card-text"><%= totalDebit %></p>
  </div>
</div>
<div class="card cardname" style="width: 18rem">
  <div class="card-body">
    <h5 class="card-title">Previous Descripency</h5>
    <p class="card-text"><%= prevDescripency %></p>
  </div>
</div>
<div class="card cardname" style="width: 18rem">
  <div class="card-body">
    <h5 class="card-title">Total Descripency</h5>
    <p class="card-text"><%= totalDescripency %></p>
  </div>
</div>
<%- include('footer') %>
